:root {
	--primary: #ccff00;
	--primary-glass: #293300;
	--foreground: #ffffff;
	--background: #0e0f11;
	--dimineshed: grey;
	--blob: #495674;
	--glow: #495674;
	--spot: #17181c;
	--border: #ffffff40;
	--border-radius: 3rem;
	--background-gradient: radial-gradient(circle at 100% 100%, var(--spot), var(--background) 50%);
}

/* Laptop (1024px and up) */
@media (min-width: 1024px) {
	:root {
		--border-radius: 2rem;
	}
}

/* Tablet (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
	:root {
		--border-radius: 2rem;
	}
}

/* Mobile (below 768px) */
@media (max-width: 767px) {
	:root {
		--border-radius: 1.5rem;
	}
}

::-moz-selection {
	color: var(--background);
	background-color: var(--primary);
}
::selection {
	color: var(--background);
	background-color: var(--primary);
}

::-webkit-scrollbar {
	background-color: var(--background);
}
::-webkit-scrollbar-thumb {
	border: 6px solid var(--background);
	background-color: var(--primary);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

body {
	width: 100vw;
	overflow-x: hidden;
}

.animated-outline {
	position: relative;
	height: 100%;
}

.animated-outline-content {
	border-radius: var(--border-radius);
	overflow: hidden;
	display: flex;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 1px 1px #ffffff20;
}

.animated-outline::before {
	content: "";
	box-sizing: content-box;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: spin 10s linear infinite;
	background: conic-gradient(from calc(var(--angle) + var(--offset)), transparent 40%, var(--glow), transparent 60%);
	padding: 2px;
	z-index: -1;
	border-radius: var(--border-radius);
}

.abs-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.tint {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000000aa;
	z-index: 1;
	border-radius: var(--border-radius);
}

.hidden {
	display: none;
}

@keyframes spin {
	0% {
		--angle: 0deg;
	}

	to {
		--angle: 360deg;
	}
}

@keyframes scroll-logo {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(var(--scroll-to));
	}
}

/* Remove autofill blue background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--background) inset !important;
	-webkit-text-fill-color: var(--foreground) !important;
	transition: background-color 5000s ease-in-out 0s;
}
